.random-quote {
  z-index: 2;
  position: absolute;
  top: 50px;
  right: 100px;
  display: flex;
  place-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 1rem;
  color: #333333;
  font-size: 1.8rem;
  .material-icons {
    padding-left: 5px;
    color: #333333;
  }
  &:hover,
  &:focus {
    background: #cacaca;
    border: thin outset #cacaca;
    border-radius: 12px;
  }
  &:active {
    border: thin inset #cacaca;
  }
}
